<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<%= link_to "Back to list", tasks_path %>
<br>
<%= link_to "Edit this task", edit_task_path %>
<br>
<%= button_to "Delete",
  task_path(@task), method: :delete,
  data: {turbo_confirm: "Are you sure?"}
%>
